*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 62.5% = 1 rem = 10px*/
    scroll-behavior: smooth;
}

a, a:visited, a:link{
    color: #eee;
    text-decoration: none;
}

body{
font-size: 2rem;

}



nav{
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    min-height: 7rem;
    align-items: center;
    color: #eee;
    padding: 2rem;
    list-style: none;
    
}

.links{
    width: 5rem;
    height: 5rem;
    background: red;
    display: flex;
    align-items:center ;
    justify-content: center;
}

.rechts{
    width: 5rem;
    height: 5rem;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maand{
    width: 5rem;
    height: 5rem;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jaar{
    width: 5rem;
    height: 5rem;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dagen{
    height: 2rem;
    background: white;
    display: flex;
    justify-content: space-evenly;
}

.dag{
    font-size: 3rem;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.alleDagen {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 2rem;
    padding: 2rem;
}

.alleDagen__block {
    width: 100%; 
    height: 10rem; 
    padding-left: 5rem;
    background-color: #ccc; 
    border: 1px solid #999; 
    box-sizing: border-box; 
}